<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734795950675-hna8m0pct2r5pa8gqidq33pct10onirm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734795950675-hna8m0pct2r5pa8gqidq33pct10onirm</string>
	<key>API_KEY</key>
	<string>AIzaSyCM9sUkXWlWG3l-T1K_n2Cmzzja6NCYNZo</string>
	<key>GCM_SENDER_ID</key>
	<string>734795950675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gyuapstha.littplay</string>
	<key>PROJECT_ID</key>
	<string>littplay</string>
	<key>STORAGE_BUCKET</key>
	<string>littplay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734795950675:ios:4a3cf1cdf26d3eef9eb4a6</string>
	<key>DATABASE_URL</key>
	<string>https://littplay.firebaseio.com</string>
</dict>
</plist>
