@font-face {
	font-family: "montserrat-bold";
	src: local("montserrat-bold"),
		url("../assets/fonts/montserrat-bold.ttf") format("truetype");
}
@font-face {
	font-family: "montserrat";
	src: local("montserrat"),
		url("../assets/fonts/montserrat-regular.ttf") format("truetype");
}
@font-face {
	font-family: "montserrat-light";
	src: local("montserrat-light"),
		url("../assets/fonts/montserrat-light.ttf") format("truetype");
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: "montserrat" !important;
}

.logo-icon {
	max-width: 200px;
}

.form-wrapper {
	width: 90%;
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.heading {
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-family: "montserrat-light";
	}
}

.input-list {
	width: 100%;
}

.app-input {
	text-align: center;
	font-family: "montserrat";
}

.app-button {
	height: 50px;
	font-family: "montserrat-bold";
	text-transform: uppercase;
	width: 80%;
}

.login-bottom-links {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	font-family: "montserrat";
}

.error-msg-container {
	width: 100%;
	padding: 15px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.error-msg {
		margin-top: 10px;
		text-transform: uppercase;
		font-size: 12px;
		font-family: "montserrat-bold";
	}
}

.user-avatar {
	width: 150px;
}

.menu-profile-container {
	display: flex;
	flex-direction: column;
	padding: 20px;

	.user-avatar {
		width: 90px;
	}
}

.user-name {
	margin-top: 15px;
	font-size: 20px;
	font-family: "montserrat-bold";
	text-transform: uppercase;
}
.header-container {
	font-family: "montserrat-bold";
}

.backdrop {
	background-color: #14141499;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-card {
	width: 90%;
	text-align: center;
	font-family: "montserrat";
}

.game-code {
	font-size: 36px;
	font-family: "montserrat-bold";
	cursor: pointer;
}

.card-subtitle {
	font-size: 16px;
	text-transform: uppercase;
}

.modal-close-btn {
	position: absolute;
	top: 0;
	right: 0;
}

.app-modal {
	.ion-page {
		background-color: #14141488;
	}
}

.app-menu-list {
	cursor: pointer;
}

.logout-btn {
	width: 50px;
	height: 50px !important;
}

.app-menu-logout {
	position: absolute;
	bottom: 0;
	width: 100%;
	cursor: pointer;
}

.item-text {
	padding-left: 20px;
	font-family: "montserrat";
	text-transform: uppercase;
}
