@font-face {
	font-family: "montserrat-bold";
	src: local("montserrat-bold"),
		url("../assets/fonts/montserrat-bold.ttf") format("truetype");
}
@font-face {
	font-family: "montserrat";
	src: local("montserrat"),
		url("../assets/fonts/montserrat-regular.ttf") format("truetype");
}
@font-face {
	font-family: "montserrat-light";
	src: local("montserrat-light"),
		url("../assets/fonts/montserrat-light.ttf") format("truetype");
}

.light {
	.game-card {
		background-color: transparent;
	}

	.game-play-container {
		background-color: #eeeeee;
	}
}

.dark {
	.game-card {
		background-color: #666;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: "montserrat" !important;

	&.new-game {
		width: 80%;
	}
}

.logo-icon {
	max-width: 200px;
}

.form-wrapper {
	width: 90%;
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.heading {
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
		font-family: "montserrat-light";
	}
}

.input-list {
	width: 100%;
}

.app-input {
	text-align: center;
	text-transform: uppercase;
	font-family: "montserrat";
}

.app-button {
	height: 50px;
	font-family: "montserrat-bold";
	text-transform: uppercase;
	width: 100%;

	&.small {
		height: 40px;
	}
}

.login-bottom-links {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	font-family: "montserrat";
}

.error-msg-container {
	width: 100%;
	padding: 15px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.error-msg {
		margin-top: 10px;
		text-transform: uppercase;
		font-size: 12px;
		font-family: "montserrat-bold";
	}
}

.user-avatar {
	width: 150px;
}

.menu-profile-container {
	display: flex;
	flex-direction: column;
	padding: 20px;

	.user-avatar {
		width: 90px;
	}
}

.user-name {
	margin-top: 15px;
	font-size: 20px;
	font-family: "montserrat-bold";
	text-transform: uppercase;
}

.montserrat {
	font-family: "montserrat";
}

.montserrat-bold {
	font-family: "montserrat-bold";
}

.game-play-card {
	flex: 1;
	font-family: "montserrat";
	text-align: center;
	margin: 5px 10px;
	box-shadow: unset;

	.subtitle {
		color: #000 !important;
		margin-bottom: 5px;
		font-family: "montserrat-bold";
	}
}

.game-code,
.game-score {
	font-size: 36px;
	font-family: "montserrat-bold";
}

.card-subtitle {
	font-size: 16px;
	text-transform: uppercase;
	font-family: "montserrat";
}

.app-menu-list {
	cursor: pointer;
}

.logout-btn {
	width: 50px;
	height: 50px !important;
}

.app-menu-logout {
	position: absolute;
	bottom: 0;
	width: 100%;
	cursor: pointer;
}

.item-text {
	padding-left: 20px;
	font-family: "montserrat";
	text-transform: uppercase;
}

.game-play-container {
	padding-top: 71px;
	min-height: 100%;
}

.players-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: -10px;
}

.player-icon {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	text-overflow: ellipsis;

	.user-avatar {
		padding: 10px;
		width: 100px;
	}
}

.game-description-row {
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.game-cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.game-card {
	width: 100px;
	border: 1px solid #303030;
	border-radius: 5px;
	height: 150px;
	display: flex;
	padding: 15px;
	flex-direction: column;
	align-items: center;
	margin: 5px;

	.card-suit {
		width: 80%;
		height: auto;
	}

	.card-rank {
		font-family: "montserrat-bold";
		font-size: 48px;
	}
}

.team-score-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar-group {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.moves-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.user-container {
	display: flex;
	align-items: center;
	padding: 5px 0px;
	margin: 5px 0px;

	.user-details {
		margin-left: 15px;
	}
}

.select-alert {
	font-family: "montserrat";

	.alert-wrapper {
		min-width: 300px;
	}
}

.app-select {
	font-family: "montserrat";
}

.app-select-label {
	font-family: "montserrat" !important;
	text-transform: uppercase;
}

.dark-mode-label {
	font-family: "montserrat-bold";
	text-transform: uppercase;
	padding-right: 20px;
}
